apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-kimi-k3-weights-staging
spec:
  storageClassName: ""
  capacity:
    storage: 2000Gi
  accessModes:
    - ReadWriteOnce
  csi:
    driver: pd.csi.storage.gke.io
    volumeHandle: projects/${PROJECT_ID}/zones/${ZONE}/disks/kimi-k3-weights-rox
    fsType: xfs
    readOnly: false
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-kimi-k3-weights-staging
  namespace: llm-serving
spec:
  storageClassName: ""
  volumeName: pv-kimi-k3-weights-staging
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2000Gi
